body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 40px;
    font-weight: 900;
   
}
h2{
    font-size: 32px;
    font-weight: 900;
}

h3{
    font-size: 24px;
    font-weight: 900;
}




.color-text{
    color: orange;
}

.flexible-container{
    display: flex;
    width: 100%;  
    margin-bottom: 120px;  
}

.half-width{
    width: 50%; 
    margin: 0px 10%;
    margin-top: 30px;
    padding-top: 3%;
    
    
}





.button-style{
    text-decoration: none;
    background-image: linear-gradient(to right, orange,salmon);
    padding: 13px 30px;
    color: white;
    font-weight: 900;
    border-radius: 20px;
   
    
    
}

/* top background */

.top{
    background-image: url(images/shapes/Group\ 8449.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:  contain;
    
    
    
    
}



/* section 2 */

div img{
    width: 100%;   
}


 .middle-banner{
     background-image: url(images/shapes/Frame\ 59.jpg);
     background-repeat: no-repeat;
     
 }

 .center-text{
     text-align: center;
     font-weight: 900;
    
 }


 /*  recipie section  */

 .item-display img{
  /*  style="width: 50%;margin:50px auto;
  style="background-color: #f4f4f4;
    "style="box-shadow: 5px 5px 10px grey;border-radius: 30px;*/
    
    
    height: 60%;
    border-radius: 30px;  
 }

 .item-display{
     background-color: white;
     width: 28%;
     border-radius: 30px;
     padding: 15px;
     box-shadow: 6px 6px 15px grey;
     margin: 0px 2.5%;
 }

 .item-padding{
     padding: 40px 0px;
 }

 .para-center{
     width: 70%;
     margin-left: 15%;
 }


 /*  feedback section  */

 .feedback{
     display: block;
     background-image:url(images/shapes/7.png);
     padding: 20px;
 }

 cite img{
     height: 45px;
     width: 45px;
     border-radius: 50%;
     vertical-align: middle;
     margin-right: 10px;
     margin-left: 30px;
     padding-top: 10px; 
 }

 cite{
     font-style: italic;
 }


 /*   pricing section  */

 .pricing{
    background-color: #f4f4f4;
    padding: 30px 0px;
    margin-bottom: 30px 0px;
}

 .item-display a{
    display: inline-block;
     text-decoration: none;
     background-color: orange;
     padding: 12px 20px;
     color: white;
     font-weight: 900;
     border-radius: 30px;
     
     
     
     place-items: center;

 }


/* footer  */
footer{
    background-color: rgb(15, 15, 15);
    padding-top: 10px;
    padding-bottom: 50px;
    word-spacing: 2px;
    text-align: center;
}

 
 footer h3{
     color: grey;
 }

 footer p{
     color: white;
 }
